<create>
  <!-- 固定元素示例 -->
  <timestamp>{{ timestamp }}</timestamp>
  
  <!-- 动态子元素（随机选择和排序） -->
  {% for element in elements %}
    {% if element.type == "user" %}
      <user>
        <name>{{ element.data.name }}</name>
        <age>{{ element.data.age }}</age>
      </user>
    {% elif element.type == "order" %}
      <order>
        <id>{{ element.data.id }}</id>
        <amount>{{ element.data.amount }}</amount>
      </order>
    {% elif element.type == "log" %}
      <log priority="{{ element.data.priority }}">
        {{ element.data.message }}
      </log>
    {% endif %}
  {% endfor %}
</create>